@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

main {
  height: 60px;
  width: 800px;

  > div {
    align-items: center;
    background: linear-gradient(to right, $indigo-darker, $indigo);
    display: flex;

    article {
      &:first-child {
        margin-left: 15px;

        h2 {
          font-family: $codefont;
          line-height: 60px;
        }
      }

      &:nth-child(2) {
        color: $lightgrey-0;
        display: flex;
        font-family: $codefont;
        margin-left: auto;

        > span {
          padding: 0 10px 0 10px;
        }

        > fa-icon {
          font-size: 24px;
          cursor: pointer;

          &.disabled {
            color: $lightgrey-3;
            pointer-events: none;
          }
        }
      }

      &:last-child {
        color: $lightgrey-0;
        margin-left: 50px;
        margin-right: 15px;

        .dropdown {
          > fa-icon {
            font-size: 21px;
            cursor: pointer;
          }
          .dropdown-menu {
            background: $lightgrey-2;
            border-radius: 3px;
            border-color: $lightgrey-2;

            .dropdown-item {
              color: $darkgrey-2;
              font-weight: 500;

              &:hover {
                background: none;
                color: $indigo;
              }

              &.selected {
                color: $indigo;
              }
            }
          }
        }
      }
    }
  }
}
