$darkgrey-0: rgb(15, 15, 15);
$darkgrey-1: rgb(30, 30, 30);
$darkgrey-2: rgb(45, 45, 45);
$darkgrey-3: rgb(90, 90, 90);
$grey: rgb(120, 120, 120);

$white: rgb(255, 255, 255);
$almostwhite: rgb(253, 253, 253);
$lightgrey-0: rgb(240, 240, 240);
$lightgrey-1: rgb(225, 225, 225);
$lightgrey-2: rgb(210, 210, 210);
$lightgrey-3: rgb(195, 195, 195);

$darknavy: #162447;
$pink: #e43f5a;
$lightnavy: #242629;
$navyblack: #1b1b2f;
$olive: #5c7a1e;

$primary-color: $olive;
$secondary-color: $olive;

$user-panel-bg-color: #f6f7f8;
$control-panel-bg-color: $almostwhite;
$content-panel-bg-color: #f6f7f8;
$user-management-bg-color: $almostwhite;
