$darkgrey-0: rgb(18, 17, 19);
$darkgrey-1: rgb(30, 29, 31);
$darkgrey-2: rgb(45, 44, 46);
$darkgrey-3: rgb(90, 89, 91);
$grey: rgb(120, 119, 121);
$lightgrey-3: rgb(196, 195, 197);
$lightgrey-2: rgb(211, 210, 212);
$lightgrey-1: rgb(226, 225, 227);
$lightgrey-0: rgb(241, 240, 242);
$almostwhite: rgb(253, 253, 253);
$white: rgb(255, 255, 255);

$black-lighter: rgb(38, 37, 39);
$black: rgb(41, 40, 42);
$black-darker: rgb(44, 43, 45);

$indigo-lighter: #9fa8da;
$indigo: #5c6bc0;
$indigo-darker: #4150a8;

$darknavy: #162447;
$pink: #e43f5a;
$lightnavy: #242629;
$navyblack: #1b1b2f;
$olive: #5c7a1e;
$yellow: #fffc64;

$stackoverflow-brand-color: #f48024;
$get-pocket-brand-color: #ef4056;

$primary-color: $indigo;
$secondary-color: $indigo-lighter;

$bg-color: $black-lighter;
$user-panel-bg-color: $black-lighter;
$control-panel-bg-color: $black;
$content-panel-bg-color: $black-lighter;
$user-management-bg-color: $black-lighter;
