@import "./app/styles/clarity-dark-theme.scss";
@import "./app/styles/colors.scss";
@import "./app/styles/fonts.scss";

body {
  font-family: $mainfont;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $mainfont;
  }

  h2 {
    color: $lightgrey-0;
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }

  h3 {
    color: $darkgrey-0;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    padding: 8px 0 8px 0;
    margin: 0;

    &:hover {
      color: $lightnavy;
    }
  }

  h4 {
    color: $black-lighter;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  h5 {
    color: $darkgrey-3;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 3px 0 3px 0;
  }

  p {
    color: $darkgrey-0;
  }

  ::-webkit-scrollbar {
    // display: none;
  }

  :focus {
    outline: none;
  }

  .tooltip {
    // TODO: remove !important.
    background: $black-lighter !important;
    color: $lightgrey-0 !important;
    font-family: $mainfont;
    font-size: 12px;
    opacity: 0.9;
  }
}
