@import "./theme.scss";
@import "./app/styles/colors.scss";
@import "./app/styles/fonts.scss";

body {
  font-family: $mainfont;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $mainfont;
  }

  h3 {
    color: $darkgrey-0;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    padding: 8px 0 8px 0;
    margin: 0;

    &:hover {
      color: $lightnavy;
    }
  }

  h4 {
    color: $darkgrey-3;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  h5 {
    color: $darkgrey-3;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 3px 0 3px 0;
  }
}
