@import "./app/styles/colors.scss";

:root {
  --clr-card-clickable-border-color: #162447;

  --clr-header-3-bg-color: #162447;

  --clr-btn-default-color: #162447;
  --clr-btn-default-border-color: #162447;
  --clr-btn-appearance-standard-font-size: 12px;
  --clr-btn-border-width: 1px;
  --clr-btn-border-radius: 4px;
  --clr-btn-appearance-standard-font-weight: 600;
}
