main {
  .flex-container {
    display: flex;

    > * {
      height: 100vh;
    }

    user-panel {
      flex: 0 0 50px;
      width: 50px;
    }

    control-panel {
      flex: 0 0 275px;
      width: 275px;
    }

    content-panel {
      flex-grow: 1;
    }

    user-management-panel {
      flex-grow: 1;
    }
  }
}
