main {
  .flex-container {
    display: flex;
    flex-direction: row;

    ::ng-deep {
      navigation-panel {
        flex: 0 0 50px;
        height: 100vh;
        width: 50px;
      }

      control-panel {
        flex: 0 0 275px;
        height: 100vh;
        width: 275px;
      }

      content-panel {
        flex-grow: 1;
        height: 100vh;
      }

      user-management-panel {
        flex-grow: 1;
        height: 100vh;
      }
    }
  }
}
