@import "../../../../styles/colors.scss";

:host {
  margin: auto;

  main {
    display: flex;
    width: 400px;

    .card {
      background: $white;
      box-shadow: 0 4px 0 0 $almostwhite;
      border-radius: 3px;
      border-width: 1.5px;
      border-color: $white;
      opacity: 0.75;
      margin: 0;
    }

    form {
      margin: 20px 40px;

      section {
        margin: 30px 0;
      }

      .login-group {
        ::ng-deep {
          .clr-control-container {
            width: 100%;

            .clr-input-wrapper {
              .clr-input {
                background: none;

                &:focus {
                  border-bottom-color: $indigo;
                }
              }

              .clr-input-group {
                background: none;
                padding: 0;
                width: 100%;

                &.clr-focus {
                  border-bottom-color: $indigo;
                }

                clr-icon {
                  color: $indigo;
                }
              }

              input {
                color: $darkgrey-0;
                width: 100%;
              }
            }
          }
        }
      }

      button {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}
