<main>
  <div class="card">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <section class="title">
        <h3 class="welcome">Register</h3>
      </section>

      <section class="register-group">
        <clr-input-container>
          <label class="clr-sr-only">Email</label>
          <input
            type="text"
            formControlName="email"
            clrInput
            placeholder="Email"
          />
        </clr-input-container>

        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            formControlName="password"
            clrPassword
            placeholder="Password"
          />
        </clr-password-container>
      </section>

      <section>
        <div class="error active">{{ text }}</div>
      </section>

      <section>
        <button type="submit" class="btn">NEXT</button>
      </section>
    </form>
  </div>
</main>
