@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

main > div {
  display: flex;
  flex-direction: row;
  width: 100%;

  article {
    align-items: center;
    display: flex;
    flex-direction: row;

    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    &:first-child {
      h4 {
        color: $black-lighter;
        font-family: $codefont;
        font-size: 14px;
        font-weight: 600;
        margin: 0 30px 0 10px;
      }
    }

    &:nth-child(2) {
      h4 {
        font-family: $codefont;
        margin: 0 10px 0 10px;
      }

      fa-icon {
        margin-right: 2px;
      }
    }
  }
}
