<main>
  <answer-badge
    [ownerName]="ownerName"
    [ownerProfileImageUrl]="ownerProfileImageUrl"
    [creationDate]="creationDate"
  >
  </answer-badge>

  <div class="answer-content">
    <div [innerHTML]="contentRawHtml"></div>
  </div>

  <div class="answer-status">
    <div>
      <clr-icon shape="thumbs-up" flip="horizontal" size="24"></clr-icon>
      {{ answerUpvotes }}
    </div>

    <div>
      <clr-icon shape="thumbs-down" size="24"></clr-icon>
      {{ answerDownvotes }}
    </div>
  </div>
</main>
