<main>
  <div class="owner-profile">
    <img [src]="ownerProfileImageUrl" loading="lazy" />
    <span class="owner-name">{{ ownerName }}</span>
    <span class="owner-meta">
      <clr-icon shape="animation" size="18"></clr-icon>
      {{ ownerReputation }}</span
    >
  </div>

  <div class="answer-content">
    <div [innerHTML]="contentRawHtml"></div>
  </div>

  <div>
    <h5>Answered on {{ creationDate }}</h5>
    <h5 class="division">/</h5>
    <h5>Last edited on {{ lastEditDate }}</h5>
  </div>

  <div class="answer-status">
    <div>
      <clr-icon shape="thumbs-up" flip="horizontal" size="24"></clr-icon>
      {{ answerUpvotes }}
    </div>

    <div>
      <clr-icon shape="thumbs-down" size="24"></clr-icon>
      {{ answerDownvotes }}
    </div>
  </div>
</main>
