@import "../../../styles/colors.scss";

main {
  margin: 0 0 20px 0;

  > div {
    margin: auto;
    padding: 5px 0 5px 0;
    width: 90%;
  }

  > .answer-content {
    padding-bottom: 30px;

    ::ng-deep {
      p {
        color: $darkgrey-0;
        margin-top: 10px;
      }

      a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }

      pre {
        white-space: pre-wrap !important;

        code {
          color: $secondary-color;
          display: inline-block;
          overflow-x: auto;
          white-space: pre-line;
          width: 100%;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  > .anwer-meta {
    display: flex;

    > .division {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  > .answer-status {
    color: $darkgrey-0;
    display: flex;
    font-size: 14px;

    > div {
      margin-right: 21px;
    }
  }
}
