@import "../../../styles/colors.scss";

main {
  margin: 0 0 2rem 0;

  .owner-profile {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem 0 0.5rem 0;
    width: 12rem;

    img {
      border-radius: 50%;
      grid-row: 1 / 3;
      margin: auto;
      width: 1.8rem;
    }

    .owner-name {
      color: $darkgrey-0;
      font-size: 14px;
      font-weight: 500;
      grid-column: 2 / 3;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .owner-meta {
      font-size: 9px;
      grid-column: 2 / 3;
    }
  }

  .answer-content {
    margin: auto;
    padding-bottom: 2rem;
    width: 95%;

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-size: 1rem;
    }

    pre {
      white-space: pre-wrap !important;

      code {
        display: inline-block;
        overflow-x: auto;
        white-space: pre-line;
        width: 100%;
      }
    }
  }

  .answer-status {
    display: flex;
    font-size: 14px;

    > div {
      margin: 0 0.5rem 0 0.5rem;
    }
  }
}
