<main>
  <div class="card">
    <div class="card-header">
      <article>📅</article>
      <article>{{ title | uppercase }}</article>
      <article>🖥</article>
    </div>

    <div class="card-block">
      <p>
        Code Daily is a web app aimed to enhance your experience of casually
        browsing StackOverflow.
      </p>

      <p>
        It offers:
        <li>
          A simple dashboard that organizes trending
          <a href="https://stackoverflow.com/" id="stackoverflow-link"
            >StackOverflow</a
          >
          questions based on tags
        </li>
        <li>
          Seamless integration with
          <a href="https://app.getpocket.com/" id="pocket-link">Pocket</a>: you
          can add the question to your Pocket "read-it-later" list with just one
          click 🖱️.
        </li>
        <li>More features to come (very likely 😊).</li>
      </p>

      <p></p>
      <p>
        Select your favorite programming language and see what's trending 🔥
      </p>
    </div>
  </div>
</main>
