@import "../../../../styles/colors.scss";

main > div {
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  margin-left: 30px;
  width: 100%;

  img {
    border-radius: 50%;
    width: 40px;
  }

  .owner-name {
    color: $darkgrey-0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 8px 0 8px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .owner-meta {
    font-size: 12px;
  }
}
