@import "../../../styles/colors.scss";

:host {
  width: 300px;

  main {
    width: 100%;

    .card {
      background: $white;
      box-shadow: 0 4px 0 0 $almostwhite;
      border-radius: 3px;
      border-width: 1.5px;
      border-color: $white;
      opacity: 0.75;
    }

    .card-header {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 20px 5px 20px;

      h3 {
        font-size: 16px;
        font-weight: 400;
      }

      clr-icon {
        color: $grey;
      }
    }
  }
}
