@import "../../../styles/colors.scss";

main {
  background: $content-panel-bg-color;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 0 0 40px 0;

  .content-header-container {
    margin: 20px auto 0 auto;
    width: 800px;
  }

  .card-list-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
  }
}
