<main>
  <div class="content-header-container">
    <content-header
      [userAuth]="userAuth$ | async"
      [tag]="currentTag$ | async"
      [userFavoriteTags]="userFavoriteTags$ | async"
      [userSubscribedTags]="userSubscribedTags$ | async"
    ></content-header>
  </div>

  <div class="card-list-container">
    <question-card
      *ngFor="let question of questions$ | async"
      [userAuth]="userAuth$ | async"
      [question]="question"
      (onAddToPocket)="onAddToPocket($event)"
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
    ></question-card>
  </div>
</main>
