<main>
  <section>
    <div class="card-list-container">
      <div
        *ngIf="hasUserLoggedIn; then loggedInBlock; else notLoggedInBlock"
      ></div>
    </div>
  </section>
</main>

<ng-template #loggedInBlock>
  <setting-card
    title="Log Out"
    clarityIconClass="logout"
    (onCardClicked)="onLogoutClicked()"
  ></setting-card>

  <setting-card
    title="Manage Subscription"
    clarityIconClass="envelope"
    (onCardClicked)="onManageSubscriptionClicked()"
  ></setting-card>

  <setting-card
    title="Connect to Pocket"
    clarityIconClass="bookmark"
    (onCardClicked)="onConnectToPocketClicked()"
  ></setting-card>
</ng-template>

<ng-template #notLoggedInBlock>
  <setting-card
    title="Register"
    clarityIconClass="user"
    (onCardClicked)="onRegisterClicked()"
  ></setting-card>

  <setting-card
    title="Log In"
    clarityIconClass="login"
    (onCardClicked)="onLoginClicked()"
  ></setting-card>
</ng-template>
