@import "../../../../styles/colors.scss";

:host {
  margin: auto;

  main {
    display: flex;
    width: 400px;

    .card {
      background: $white;
      box-shadow: 0 4px 0 0 $almostwhite;
      border-radius: 3px;
      border-width: 1.5px;
      border-color: $white;
      opacity: 0.75;
      margin: 0;
    }

    form {
      margin: 20px 40px;

      section {
        margin: 30px 0;
      }

      // .register-group {
      //   ::ng-deep {
      //     .clr-control-container {
      //       width: 100%;

      //       .clr-input-group {
      //         padding: 0;
      //         width: 100%;
      //       }

      //       input {
      //         width: 100%;
      //       }
      //     }
      //   }
      // }
    }
  }
}
