<main>
  <div>
    <clr-tree>
      <clr-tree-node *ngIf="hasUserLoggedIn" [clrExpanded]="true">
        FAVORITE TAGS
        <clr-tree-node
          *ngFor="let tag of []"
          [ngClass]="getTreeNodeClass(tag)"
          class="tag-node"
        >
          <button
            class="clr-treenode-link"
            (click)="onSelectTag(tag)"
            [ngClass]="getTagClass(tag)"
          >
            {{ tag.name | titlecase }}
          </button>
        </clr-tree-node>
      </clr-tree-node>

      <clr-tree-node [clrExpanded]="true">
        POPULAR TAGS
        <clr-tree-node
          *ngFor="let tag of tags"
          [ngClass]="getTreeNodeClass(tag)"
          class="tag-node"
        >
          <button
            class="clr-treenode-link"
            (click)="onSelectTag(tag)"
            [ngClass]="getTagClass(tag)"
          >
            {{ tag.name | titlecase }}
          </button>
          <clr-icon
            shape="star"
            (click)="onStarClicked(tag)"
            [ngClass]="getStarIconClass(tag)"
          ></clr-icon>
          <!-- 
          <clr-icon
            shape="email"
            (click)="onEmailClicked(tag)"
            [ngClass]="getEmailIconClass(tag)"
          ></clr-icon> -->
        </clr-tree-node>
      </clr-tree-node>
    </clr-tree>
  </div>
</main>
