@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

main {
  background: $control-panel-bg-color;
  height: 100%;
  overflow-y: scroll;
  width: 100%;

  ::ng-deep .clr-treenode-children {
    margin-left: 0;
  }

  div {
    padding: 10px 0 10px 0;

    clr-tree {
      color: $lightgrey-0;
      cursor: pointer;
      font-family: $codefont;
      font-weight: 400;
      margin: 0;
      width: 100%;

      .tag-node {
        border-left: 4px solid transparent;
        margin: 4px 0 4px 0;

        &.selected {
          font-weight: 600;
        }

        button {
          &.active {
            background: none;
            color: $primary-color;
          }

          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
