@import "../../../styles/colors.scss";

main {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  clr-vertical-nav {
    background: $control-panel-bg-color;

    margin: 0;
    width: 100%;

    .active {
    }
  }
}
