@import "../../../styles/colors.scss";

main {
  background: $control-panel-bg-color;
  height: 100%;
  overflow-y: scroll;
  width: 100%;

  clr-tree {
    color: $darkgrey-0;
    cursor: pointer;
    font-weight: 500;
    margin: 0;
    width: 100%;

    clr-tree-node {
      margin: 5px 0 5px 0;

      button {
        &.active {
          background: transparent;
          color: $green;
        }
      }
    }
  }
}
