<main>
  <div class="card clickable" (click)="onCardClicked()">
    <div class="card-header">
      <h3>
        {{ title | titlecase }}
      </h3>

      <div class="meta-info">
        <h5>Viewed {{ viewCount }} times</h5>
        <h5 class="division">/</h5>
        <h5>Answered on {{ creationDate }}</h5>
        <h5 class="division">/</h5>
        <h5>Last edited on {{ lastEditDate }}</h5>
      </div>

      <div class="tags">
        <button *ngFor="let tag of tags" class="btn btn-sm">
          {{ tag }}
        </button>
      </div>
    </div>

    <ng-container *ngIf="isExpanded">
      <hr />

      <div class="card-body">
        <ng-container *ngFor="let answer of answers">
          <answer-section [answer]="answer"></answer-section>
          <hr />
        </ng-container>
      </div>
    </ng-container>
  </div>
</main>
