<main>
  <div class="card clickable" (click)="onCardClicked()">
    <div class="card-header">
      <h3>
        {{ title | titlecase }}
      </h3>
      <div clas="meta-info">
        <h5>Viewed {{ viewCount }} times</h5>
      </div>

      <div class="tags">
        <button *ngFor="let tag of tags" class="btn btn-sm">
          {{ tag }}
        </button>
      </div>
    </div>

    <div class="card-body" *ngIf="isExpanded">
      <answer-section
        *ngFor="let answer of answers"
        [answer]="answer"
      ></answer-section>
    </div>
  </div>
</main>
