@import "../../../styles/colors.scss";

main {
  width: 100%;

  .card {
    background: $white;
    box-shadow: 0 2px 4px $lightgrey-1;
    border-radius: 10px;
    border-width: 1.5px;
    border-color: $almostwhite;

    .card-header {
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      word-wrap: break-word;

      // .meta-info {
      //   display: flex;
      //   padding: 10px 0 10px 0;

      //   h5 {
      //     margin-right: 20px;

      //     clr-icon {
      //       margin-right: 2px;
      //     }
      //   }
      // }

      question-badge {
        padding: 10px 0 10px 0;
      }

      .tags {
        padding: 10px 0 10px 0;
      }
    }

    hr {
      border: 3px solid $primary-color;
      box-sizing: border-box;
      margin: 5px auto 5px auto;
      width: 97.5%;
    }

    .card-body {
      margin-bottom: 3rem;

      hr {
        border: 1px solid $primary-color;
        margin: 10px auto 10px auto;
        width: 97.5%;
      }
    }
  }
}
