<main>
  <div
    class="card"
    [ngClass]="{ clickable: !isExpanded }"
    (click)="onCardClicked()"
  >
    <div class="card-header">
      <article>
        <h3>
          {{ title | titlecase }}
        </h3>

        <fa-icon
          *ngIf="isExpanded"
          (click)="onCloseIconClicked($event)"
          [icon]="faWindowClose"
        ></fa-icon>
      </article>

      <question-badge
        [owner]="owner"
        [creationDate]="creationDate"
        [answerCount]="answerCount"
        [viewCount]="viewCount"
      >
      </question-badge>

      <div class="info-buttons">
        <article>
          <simple-tag *ngFor="let tag of tags" [text]="tag"></simple-tag>
        </article>

        <article>
          <fa-icon
            [icon]="faStackOverflow"
            class="stackoverflow-icon"
            (click)="onStackOverflowIconClicked($event)"
          ></fa-icon>
          <fa-icon [icon]="faGetPocket" class="getpocket-icon"></fa-icon>
        </article>
      </div>
    </div>

    <ng-container *ngIf="isExpanded">
      <!-- <hr class="header-bottom-line" /> -->

      <div class="card-body" [@fadeInOnEnter]>
        <question-content
          [contentRawHtml]="rawHtml"
          [contentRawMarkdown]="rawMarkdown"
        ></question-content>
      </div>
    </ng-container>
  </div>
</main>
