main {
  width: 100%;

  .card-header {
    word-wrap: break-word;

    .meta-info {
      display: flex;

      > .division {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    .tags {
      margin-top: 0.75rem;
    }
  }

  .card-body {
    margin-bottom: 3rem;
  }
}
