@import "../../../styles/colors.scss";

main {
  width: 100%;

  .card {
    background: $white;
    box-shadow: none;
    border-radius: 3px;
    border-width: 2.5px;
    border-color: $primary-color;

    .card-header {
      border: none;
      word-wrap: break-word;

      .meta-info {
        display: flex;

        h5 {
          margin-right: 20px;

          clr-icon {
            margin-right: 2px;
          }
        }
      }

      .tags {
        margin-top: 0.75rem;
      }
    }

    hr {
      border: 3px solid $primary-color;
      box-sizing: border-box;
      margin: 5px auto 5px auto;
      width: 97.5%;
    }

    .card-body {
      margin-bottom: 3rem;

      hr {
        border: 1px solid $primary-color;
        margin: 10px auto 10px auto;
        width: 97.5%;
      }
    }
  }
}
