@import "../../../styles/colors.scss";

main {
  .markdown-wrapper ::ng-deep {
    p {
      color: $darkgrey-0;
    }

    pre {
      white-space: pre-wrap !important;

      code {
        display: inline-block;
        overflow-x: auto;
        white-space: pre-line;
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }
}
