@import "../../../styles/colors.scss";

main {
  .markdown-wrapper ::ng-deep {
    font-size: 14px;

    .expandable-code {
      background-color: $indigo-lighter;
      color: $darkgrey-0;
      cursor: pointer;
      height: 30px;
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }

    .panel {
      display: none;
      overflow: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $darkgrey-0;
      font-weight: 500;
      margin-top: 10px;
    }

    p {
      color: $darkgrey-0;
      font-size: 14px;
      line-height: 21px;
    }

    li {
      color: $darkgrey-0;
    }

    pre {
      border: none;
      border-radius: 0;
      margin-top: 0;
      white-space: pre-wrap !important;

      code {
        display: inline-block;
        overflow-x: auto;
        white-space: pre-line;
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }
}
