@import "../../../styles/colors.scss";

main {
  .markdown-wrapper ::ng-deep {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $darkgrey-0;
      font-weight: 500;
      margin-top: 15px;
    }

    p {
      color: $darkgrey-0;
    }

    li {
      color: $darkgrey-0;
    }

    pre {
      white-space: pre-wrap !important;

      code {
        display: inline-block;
        overflow-x: auto;
        white-space: pre-line;
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }
}
